*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.container-flex {
  display: flex;
  justify-content: center;
  margin: 0px auto;
  width: 85%;
  max-width: 1200px;
}

/* HEADER */

header{
  background-color: #255EE9;
  height: 80px;
}


#containerlogo{
  height: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px 0 15px;
  text-align: center; 
}

.logo img{
  size: 100px;
}

.links ul li{
  list-style: none;
  display: inline;
  text-decoration: none;
  color: white;
  font-weight: 2rem;
  padding-right: 25px;
  font-weight: 100;
}

.link-menu:hover{
  color: rgb(67, 67, 208);
}

#accedi:hover{
  color: rgb(67, 67, 208);
}

#accedi{
  color: black;   
}

#accedi{
  background-color: white;
}

.btn{
  text-decoration: none;
  padding: 15px 12px;
  border-radius: 20px;
}


/* MAIN */

/* SECTION BUTTONS */

.buttons{
  background-image: url(../img/img/jumbo.png);
  padding: 50px 0 50px 0px;
  width: 100%;
  height: 580px;
  background-size: cover;
}


.container-flex-buttons{
  width: 70%;
  height: 300px;
  align-items: center;
  text-align: center;
  margin-top: 150px;
}

.container-flex-buttons h1{
  color: white;
  font-size: 2.3rem;
}

.container-flex-buttons p{
  font-size: 1.1rem;
  color: white;
  margin-top: 20px;
  margin-bottom: 30px;
}

/* BUTTONS BOTTOM */

#scarica{
  text-decoration: none;
  background-color: white;
  margin-right: 15px;
  color: black;
}

#browser{
  text-decoration: none;
  background-color: #23272A;
  color: white;
}



/* SECTION UN LUOGO A INVITO... */

.section-white{
  background-color: white;
  padding: 50px 0px 50px 0px;
}

.image-box{
  height: 450px;
  width: 60%;
  justify-content: flex-start;
}

.image-box img{
  width: 600px;
}

.text-box {
  height: 450px;
  width: 40%;
  justify-content: flex-end;
}

.text-box h1{
  font-size: 2.4rem;
  color: black;
  text-align: left;
  padding-top: 30px;
  margin-bottom: 30px;
  padding-right: 40px;

}

.text-box p{
  font-size: 1.1rem;
  color: black;
  text-align: left;
  line-height: 35px;
  padding-right: 40px;
}





/* SECTION DOVE TROVARSI--- */

.section-grey{
  background-color: #D3D3D3; 
  padding: 50px 0px 50px 0px;
}

#container-dovetrovarsi{
  flex-direction: row-reverse;
}

/* SECTION DA POCHI... */



/* SECTION TECNOLOGIA AFFIDABILE... */

.section-tecnologia-affidabile{
  background-color: #D3D3D3 ;
  height: 1200px;
  padding: 50px 0px 50px 0px;
  
}

#container-tecnologia-affidabile{
  height: 800px;
  width: 85%;
  text-align: center;
  margin: 0 auto;
  max-width: 1200px;
  
}

.title-big-section{
  font-size: 2.4rem;
  margin-bottom: 20px;

}

.text-big-section{
  padding: 0px 80px;
  line-height: 35px;
  margin-bottom: 40px;
}

#container-tecnologia-affidabile img{
  width: 1200px;
}
.stars{
  background-image: url(../img/img/stars.svg);
  height: 100px;
  background-size: contain;
  background-repeat:no-repeat;
  margin: 0 auto;
  width: 600px;
}

.stars p{
  font-size: 1.4rem;
  font-weight: bold;
  padding: 35px 30px 0 30px; 
}

#scarica-per-mac{
  background-color: #7289DA;
  color: white;
}




/* FOOTER */

.container-footer{
  background-color: #23272A;
  height: 650px;
  padding: 10px 0px 25px 0px;
}

.il-tuo-posto-per-parlare{
  justify-content: flex-start;
  width: 35%;
  height: 450px;
  padding-top: 30px;
}

.il-tuo-posto-per-parlare h1{
  font-size: 2.3rem;
  color: #5F85E2;
  margin-bottom: 20px;
}

.lenguage-flex{
  display: flex;
  justify-content: space-between;
  width: 100px;
  height: 20px;
  margin-bottom: 30px;
}

.lnguage-flex img{
  width: 25px;
  height: 20px;
  justify-content: flex-start;
}

.lenguage-flex h6{
  font-size: 0.9rem;
  color: white;
  margin-left: 5px;
  font-weight: lighter;
}

.lenguage-flex i{
  color: white;
  margin-left: 5px;
}

.social i{
  color: white;
  margin-right: 35px;
  font-size: 25px;
  
}

.option-footer{
  width: calc(65% / 4);
  height: 450px;
  padding-top: 30px;
}

.option-footer ul li:first-child{
  color: #5F85E2;
}

 div nav ul li{
  list-style: none;
  text-align: left;
  margin: 0 auto;
  padding: 15px 20px;
  color: white;
  font-size: 0.9rem;
  font-weight: bold;
}

/* CONTAINER FOOTER DISCORD */

.container-footer-discord{
  background-color: #23272A;
  height: 100px;
}

.container-footer-bottom{
  width: 85%;
  background-color: #23272A;
  margin: 0 auto;
  max-width: 1200px;
  background-color: white;
}

#footer-discord{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 75px;
  background-color: #23272A;
}

hr{
  border-color: #5F85E2; 
  
}


.logo-discord{
  margin-top: 20px;
  text-align: center;
}

.logo-discord img{
  width: 120px;
}

#registrati{
  background-color:#5F85E2;
  text-align: center;
  margin-top: 20px;
  padding: 10px 15px;
  color: white;
}

