*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
}

.container-flex {
  display: flex;
  justify-content: center;
  margin: 0px auto;
  width: 85%;
  max-width: 1200px;
}

/* HEADER */

header{
  background-color: #255EE9;
  height: 80px;
}


#containerlogo{
  height: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px 0 15px;
  text-align: center; 
}

.logo img{
  size: 100px;
}

.links ul li{
  list-style: none;
  display: inline;
  text-decoration: none;
  color: white;
  font-weight: 2rem;
  padding-right: 25px;
  font-weight: 100;
}

.link-menu:hover{
  color: rgb(67, 67, 208);
}

#accedi:hover{
  color: rgb(67, 67, 208);
}

#accedi{
  color: black;   
}

#accedi{
  background-color: white;
}

.btn{
  text-decoration: none;
  padding: 15px 12px;
  border-radius: 20px;
}


/* MAIN */

/* SECTION BUTTONS */

.buttons{
  background-image: url(../img/img/jumbo.png);
  padding: 50px 0 50px 0px;
  width: 100%;
  height: 580px;
  background-size: cover;
}


.container-flex-buttons{
  width: 70%;
  height: 300px;
  align-items: center;
  text-align: center;
  margin-top: 150px;
}

.container-flex-buttons h1{
  color: white;
  font-size: 2.3rem;
}

.container-flex-buttons p{
  font-size: 1.1rem;
  color: white;
  margin-top: 20px;
  margin-bottom: 30px;
}

#scarica{
  text-decoration: none;
  background-color: white;
  margin-right: 15px;
  color: black;
}

#browser{
  text-decoration: none;
  background-color: #23272A;
  color: white;
}



/* SECTION UN LUOGO A INVITO... */

.section-white{
  background-color: white;
  padding: 50px 0px 50px 0px;
}
.image-box{
  background-color: #1E90FF; /*delete after*/
  height: 450px;
  width: 60%;
  justify-content: flex-start;
  border-style: dashed;/*delete after*/
  border-width: 4px;/*delete after*/
  
}

.text-box {
  background-color: #FFC0CB; /*delete after*/
  height: 450px;
  width: 40%;
  justify-content: flex-end;
  border-style: dashed;/*delete after*/
  border-width: 4px;
}



/* SECTION DOVE TROVARSI--- */

.section-grey{
  background-color: #D3D3D3; 
  padding: 50px 0px 50px 0px;
}

#container-dovetrovarsi{
  flex-direction: row-reverse;
}

/* SECTION DA POCHI... */



/* SECTION TECNOLOGIA AFFIDABILE... */

.section-tecnologia-affidabile{
  background-color: #D3D3D3 ;
  height: 900px;
  padding: 50px 0px 50px 0px;

}

#container-tecnologia-affidabile{
  background-color: #228B22; /*delete after*/
  border-style: dashed;/*delete after*/
  border-width: 4px;/*delete after*/
  height: 800px;
}



/* FOOTER */

.container-footer{
  background-color: #23272A;
  height: 500px;
  padding: 10px 0px 25px 0px;
}

.il-tuo-posto-per-parlare{
  background-color: #F08080;/*delete after*/
  width: 35%;
  height: 450px;
  justify-content: flex-start;
  border-style: dashed;/*delete after*/
  border-width: 4px;/*delete after*/
}

.option-footer{
  background-color: #20B2AA; /*delete after*/
  width: calc(65% / 4);
  height: 450px;
  border-style: dashed;/*delete after*/
  border-width: 4px;/*delete after*/
  border-color: white;/*delete after*/
}

/* CONTAINER FOOTER DISCORD */

.container-footer-discord{
  background-color: #23272A;
  height: 100px;
  margin-top: 2px;
  padding-top: 25px;
}

#container-footer-discord{
  background-color: #CCE4F7;/*delete after*/
  justify-content: space-between;
  align-items: center;
  height: 75px;
}

.logo-discord{
  background-color: #FFB6C1;/*delete after*/
  width: 60px;
  height: 30px;
  border-style: dashed;/*delete after*/
  border-width: 4px;/*delete after*/
  text-align: center;
}

.registrati{
  background-color: #FFB6C1;/*delete after*/
  width: 60px;
  height: 30px;
  border-style: dashed;/*delete after*/
  border-width: 4px;/*delete after*/
  text-align: center;
}

